<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.siims.vmaque.snatchPackageUser">
	<resultMap type="com.siims.vmaque.snatchPackageUser.data.SnatchPackageUserData" id="snatchPackageUserResult">
		<result column="ID" property="id" javaType="String" />
		<result column="SNATCHUSERPHONE" property="snatchUserPhone" javaType="String" />
		<result column="REDPACKAGESTATE" property="redPackageState" javaType="Integer" />
		<result column="SNARCHPRICE" property="snarchPrice" javaType="double" />
		<result column="COLLARPACKAGEUSERID" property="collarPackageUserId" javaType="string" />
		<result column="COLLARUSERPHONE" property="collarUserPhone" javaType="string" />
		<result column="VALIDTIME" property="validTime" javaType="date" />
		<result column="REDPACKAGEID" property="redpackageId" javaType="string" />
		<result column="REDPACKAGENAME" property="redPackageName" javaType="string" />
		<result column="PAGESIZE" property="pageSize" javaType="Integer" />
		<result column="STARTROW" property="startRow" javaType="Integer" />
		<result column="PAGEID" property="pageId" javaType="string" />
		<result column="OPENID" property="openId" javaType="string" />
	</resultMap>
	<select id="snatchPackageUserQuery" resultMap="snatchPackageUserResult">
		SELECT *
 		 FROM (SELECT re.ID          as redPackageId,
               sn.ID                 as id,
               co.ID                 as collarpackageuserId,
               sn.SNATCHUSERPHONE    as snatchuserphone,
               sn.SNARCHPRICE        as snarchprice,
               co.COLLARUSERPHONE    as collaruserphone,
               re.VALIDTIME          as validtime,
               sn.REDPACKAGESTATE    as redpackagestate,
               re.businessname       as redPackageName,
                ROWNUM rn 
          FROM MINI_REDPACKAGECONTENT re,MINI_COLLARPACKAGEUSER co, MINI_SNATCHPACKAGEUSER  sn
          <!-- LEFT JOIN  MINI_SNATCHPACKAGEUSER  sn
          ON  
          co.ID=sn.COLLARPACKAGEUSERID
          -->
          <trim prefix="where 1=1"  prefixOverrides=" AND | OR ">
         	 AND re.ID=co.REDPACKAGEID 
         	 AND co.ID=sn.COLLARPACKAGEUSERID
         	 AND re.PACKAGESTATE = 1
           	 AND re.ISDELETE = 1 
			<if test="redPackageId != null">
			 AND re.ID = #{redPackageId}
			</if>
			<if test=" redPackageState != null ">
			AND sn.REDPACKAGESTATE = #{redPackageState}
			</if>
			<if test="validTime != null">
			<![CDATA[ AND re.VALIDTIME <#{validTime} ]]>   
			</if>
			<if test="snatchUserPhone != null">
			AND sn.snatchUserPhone     like '%' || #{snatchUserPhone} || '%'
			</if>
		</trim>
          )
           <trim prefix="where 1=1"  prefixOverrides=" AND | OR ">
           <![CDATA[ AND rn > (#{startRow}-1)*#{pageSize}  AND rn < =#{startRow}*#{pageSize}]]>   
           </trim>
	</select>
	
	
		<select id="snatchPackageUserQueryCount" resultMap="snatchPackageUserResult">
			 SELECT re.ID         	 as redPackageId,
               sn.ID                 as snatchpackageuseId,
               co.ID                 as collarpackageuserId
          FROM MINI_REDPACKAGECONTENT re,MINI_COLLARPACKAGEUSER co, MINI_SNATCHPACKAGEUSER  sn
          <trim prefix="where 1=1"  prefixOverrides=" AND | OR ">
         	 AND re.ID=co.REDPACKAGEID 
         	 AND co.ID=sn.COLLARPACKAGEUSERID
         	 AND re.PACKAGESTATE = 1
           	 AND re.ISDELETE = 1 
			<if test="redPackageId != null">
			 AND re.ID = #{redPackageId}
			</if>
			<if test=" redPackageState != null ">
			AND sn.REDPACKAGESTATE = #{redPackageState}
			</if>
			<if test="validTime != null">
			<![CDATA[ AND re.VALIDTIME <#{validTime} ]]>   
			</if>
			<if test="snatchUserPhone != null">
			AND sn.snatchUserPhone     like '%' || #{snatchUserPhone} || '%'
			</if>
		</trim>
         
	</select>
	
	
	<!-- 购买过程使用红包 -->
	<select id="snatchPackageUserGoumaiQuery" resultMap="snatchPackageUserResult">
		SELECT 
		re.ID                   as redpackageId,
		sn.ID                   as id,
		sn.COLLARPACKAGEUSERID  as collarPackageUserId,
		re.BUSINESSNAME         as redPackageName,
		sn.SNARCHPRICE          as snarchPrice,
		re.PAGEID               as pageId
		FROM  MINI_REDPACKAGECONTENT re,MINI_SNATCHPACKAGEUSER sn
		<trim prefix="where 1=1"  prefixOverrides=" AND | OR ">
         	 AND sn.REDPACKAGEID = re.ID
         	 AND re.PACKAGESTATE = 1
           	 AND re.ISDELETE = 1 
           	 AND sn.REDPACKAGESTATE=1
           	 <if test="validTime != null">
			<![CDATA[ AND re.VALIDTIME > #{validTime} ]]>   
			</if>
			<if test="openId != null">
			 AND sn.OPENID = #{openId}
			</if>
			<if test=" pageId != null ">
			 AND re.PAGEID = #{pageId}
			</if>
		</trim>
	</select>
</mapper>