<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siims.vmaque.collarPackageUser">
	<resultMap type="com.siims.vmaque.collarPackageUser.data.CollarPackageUserData" id="collarPackageUserResult">
		<result column="SUMCOLLARPACKAGENUM" property="sumCollarPackageNum" javaType="Integer" />
		<result column="REDPACKAGEID" property="redPackageId" javaType="string" />
		<result column="COLLARUSERPHONE" property="collarUserPhone" javaType="string" />
	</resultMap>
	<select id="sumCollarPackageNumQuery" resultMap="collarPackageUserResult">
		SELECT  SUM(c.COLLARPACKAGENUM) AS SUMCOLLARPACKAGENUM
		 FROM MINI_COLLARPACKAGEUSER c
		 <trim prefix="where 1=1 "  prefixOverrides=" AND | OR ">
		<if test=" redPackageId != null ">
				AND c.REDPACKAGEID = #{redPackageId}
		</if>
		</trim>
	</select>
	<select id="CollarPackageQueryByPhone" resultMap="collarPackageUserResult">
		SELECT *  FROM MINI_COLLARPACKAGEUSER c
		 <trim prefix="where 1=1 "  prefixOverrides=" AND | OR ">
		<if test="collarUserPhone != null ">
				AND c.COLLARUSERPHONE = #{collarUserPhone}
		</if>
		<if test="redPackageId != null ">
				AND c.REDPACKAGEID = #{redPackageId}
		</if>
		</trim>
	</select>
</mapper>