@charset "utf-8";
/* CSS Document<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> */
html {
	overflow-y: scroll;
}

body {
	margin: 0 auto;
	color: #333;
	background: #e6e6e6;
	font-size: 12px;
	font-family: "Arial Normal", "Arial";
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p
	{
	padding: 0;
	margin: 0;
}

.content {
	width: 1000px;
	margin: 0 auto;
	height: auto;
}

.UserCenter_Right {
	width: 800px;
	margin: 0;
	overflow: hidden;
}

.DataStatistics_box {
	width: 790px;
	border: 1px solid #ddd;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background: #fff;
	text-align: center
}

.DataStatistics_box h1 {
	font-size: 24px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .1);
	color: #666;
	margin-left: 205px;
	line-height: 90px;
	float: left;
}

.DataStatistics_1 {
	width: 790px;
	margin: 0 0 30px 0;
	float: left;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.DataStatistics_1Title {
	width: 790px;
	height: 40px;
	background: #E9E9E9;
	background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA),
		color-stop(100%, #E9E9E9));
	background: -webkit-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	background: -o-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	background: -ms-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	background: linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA',
		endColorstr='#E9E9E9');
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	-webkit-background-clip: padding-box;
	border-bottom: 1px solid #ddd;
	line-height: 40px;
	float: left;
}

.DataStatistics_1Title h1 {
	font-size: 18px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .1);
	color: #666;
	float: left;
	margin-left: 15px;
}

.DataStatistics_1,.DataStatistics_2,.DataStatistics_3,.DataStatistics_4
	{
	width: 790px;
	margin: 0 0 30px 0;
	float: left;
	margin: 20px 0 10px 0;
}

.u1 {
	width: 100%;
	float: left;
	margin-left: 50px;
}

.u2 {
	float: left;
}

.u2 img {
	height: 50px;
	width: 50px;
}

.u3 {
	height: 2px;
	width: 160px;
	background-color: #dddddd;
	margin: 0 auto;
	float: left;
	margin-top: 20px;
}

.DataStatistics_3_left {
	background: url(../../image/redEnvelopes/u105.png);
	height: 576px;
	width: 320px;
	float: left;
	margin-left: 60px;
	margin-right: 60px;
}

.DataStatistics_3_right {
	background: url(../../image/redEnvelopes/u129.png);
	height: 604px;
	width: 293px;
	float: left;
}

.u4 {
	background: url(../../image/redEnvelopes/u136.jpg);
	height: 100%;
	width: 280px;
	margin: 0 auto;
	min-height: 430px;
	position: relative;
	background-repeat: inherit;
}

.u5 {
	background-color: #343131;
	height: 40px;
	width: 100%;
}

.u5 img {
	height: 13px;
	width: 12px;
	margin-top: 10px;
	margin-left: 10px;
}

.u5 label {
	color: #ffffff;
	font-size: 14px;
	margin-left: 10px;
	font-family: "寰蒋闆呴粦 Bold", "寰蒋闆呴粦";
}

.u6 {
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	margin: 10px;
}

.u7 {
	background-color: #FF9900;
	height: 54%;
	width: 70%;
	margin: 0 auto;
	margin-top: 10%;
}

.u7 div img {
	height: 121px;
	width: 149px;
	margin-top: 5px;
}

.u7  span {
	color: #000000;
	font-size: 13px;
	/* font-weight: normal;
	line-height: normal; */
	text-align: left;
	font-family: "寰蒋闆呴粦 Bold", "寰蒋闆呴粦";
	display: block;
	max-height: 70px;
	display: block;
	overflow: hidden;
	width: 95%;
	margin: 0 auto;
	margin-top: 10px;
}

.u8 {
	background: url(../../image/redEnvelopes/u152.png);
	height: 29px;
	width: 153px;
	margin: 0 auto;
	margin-top: 20px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 29px;
	text-align: center;
	text-decoration: none;
	display: block;
}

.u9 {
	background: #343131;
	height: 30px;
	width: 100%;
	margin: 0 auto;
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	line-height: 29px;
	text-align: center;
	bottom: 0px;
	position: absolute
}

.u10 {
	background: #FFCC00;
	height: 200px;
	width: 205px;
	margin: 0 auto;
	margin-top: 50px;
}

.u10  span {
	color: #000000;
	font-size: 13px;
	font-weight: normal;
	line-height: normal;
	text-align: left;
	font-family: "寰蒋闆呴粦 Bold", "寰蒋闆呴粦";
	margin-top: -90px;
	display: block;
	margin-left: 10px;
	font-weight: 400;
}

.u10 div img {
	height: 243px;
	width: 162px;
}

.u10  span label {
	color: red;
}

.u11 {
	background: url(../../image/redEnvelopes/u182.png);
	height: 264px;
	width: 237px;
	margin: 0 auto;
	margin-top: 20px;
	font-family: "寰蒋闆呴粦 Bold", "寰蒋闆呴粦";
	color: #000000;
	font-size: 13px;
	line-height: 420px;
	text-align: center;
}

.u12 {
	background: #FFCC33;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 15px;
	height: 277px;
	width: 210px;
	margin: 0 auto;
	margin-top: 40px;
}

.u12 p {
	font-family: "寰蒋闆呴粦 Bold", "寰蒋闆呴粦";
	color: #000000;
	font-size: 13px;
	text-align: left;
	padding: 5px 10px 5px 10px;
	max-height: 218px;
	display: block;
	overflow: hidden;
	word-break: break-all;
}

.u12 div {
	background-color: #666666;
	height: 2px;
	width: 90%;
	margin: 5px 0px 5px 0px;
	margin-left: 5px;
	margin: 0 auto;
}

.u13 {
	background-color: rgb(208, 254, 208);
	height: 130px;
	width: 250px;
	margin-left: 25px;
	text-align: center;
	margin: 0 auto;
	padding-top: 5px;
}

.u13 input {
	background-image: none;
	color: #000000;
	font-family: "寰蒋闆呴粦 Regular", "寰蒋闆呴粦";
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	height: 25px;
	text-align: left;
	text-decoration: none;
	width: 200px;
	margin-top: 35px;
}

.u13 div input {
	color: #000000;
	font-family: "寰蒋闆呴粦 Regular", "寰蒋闆呴粦";
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	height: 25px;
	text-align: center;
	width: 70px;
	margin: 10px;
	margin-top: 15px;
}

.u14 {
	background: url(../../image/redEnvelopes/u182.png);
	height: 264px;
	width: 237px;
	margin: 0 auto;
	margin-top: 20px;
	font-family: "寰蒋闆呴粦 Bold", "寰蒋闆呴粦";
	color: #000000;
	font-size: 13px;
	text-align: center;
}

.u14 div {
	padding-top: 185px;
}

.u15 {
	text-align: center;
	margin-top: 30px;
}

.u16 img {
	width: 50%;
	height: 50%;
	margin: 0 auto;
}

.u16 p {
	color: #ffffff;
	font-family: "寰蒋闆呴粦 Bold", "寰蒋闆呴粦";
	font-size: 16px;
	font-weight: 700;
}

.u17 {
	background-color: #FF9900;
	width: 170px;
	height: 60px;
	margin: 0 auto;
	text-align: center;
}

.u17 a {
	color: #ffffff;
	font-family: "寰蒋闆呴粦 Regular", "寰蒋闆呴粦";
	font-size: 14px;
	display: block;
	padding-top: 10px;
	margin-top: 50px;
}

.u19 {
	background: url(../../image/receiveRedEnvelopes/u39.png);
	height: 40px;
	width: 100%;
	margin: 0 auto;
	bottom: 0px;
	position: absolute;
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	display: block;
}

.u4_1 {
	background-color: #333333;
	height: auto;
	width: 280px;
	margin: 0 auto;
	min-height: 430px;
	position: relative;
}

.u8_1 {
	background-color: #FFFFFF;
	height: 30px;
	width: 100px;
	margin: 0 auto;
	margin-top: 20px;
	color: #333333;
	font-size: 14px;
	font-weight: 700;
	line-height: 29px;
	text-align: center;
	text-decoration: none;
	display: block;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.xubox_tips {
	position: absolute;
	line-height: 20px;
	min-width: 12px;
	font-size: 12px;
	_float: left;
	border-radius: 3px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
	width: 70%;
	margin: 0 auto;
	height: 20px;
	margin-left: 10px;
	width: 90%;
	padding-top: 2px;
	padding-bottom: 2px;
}

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(118, 110, 110, 0.76);
	z-index: 666;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
	min-height: 430px;
}

#weidivImg_fade img {
	width: 100%;
	height: 100%;
}

@media ( max-width :500px) {
	html {
		height: 100%;
	}
	body {
		height: 100%;
	}
	.u4 {
		width: 100%;
		height: 100%;
	}
	.u4_1 {
		width: 100%;
		height: 100%;
	}
	.u7 {
		margin-top: 5%;
		width: 80%;
	}
	.u8 {
		margin-top: 7%;
	}
	.u10 {
		margin-top: 20%;
		margin-top: 20%;
		height: 50%;
		width: 70%;
	}
	.u11 {
		margin-top: 10%;
	}
	#redEnve1 {
		min-height: 100%;
	}
	.u7 {
		
		width: 80%;
	}
	.u7 span{
	margin-top: 3%;
	max-height:73px;
	}
	.u7 div {
		height: 60%;
	}
	.u7 div img {
		height: 90%;
		width: 80%;
	}
	.u16 {
		height: 50%;
		margin-top: 15%;
	}
	.u16 img {
		height: 90%;
		width: 70%;
	}
	.u17 {
		width: 70%;
		height: 10%;
	}
	.u10 div img {
		width: 80%;
		height: 80%;
	}
	.u12 {
		height: 70%;
		width: 80%;
	}
	.weidivImg_fade img {
		width: 100%;
		height: 100%;
	}
}