@charset "gb2312";
/* CSS Document<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> */
html {
	overflow-y: scroll;
}

body {
	margin: 0 auto;
	font-size: 14px;
	font-family: "Arial Normal", "Arial";
	background: #41444D
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset,
	input, textarea, blockquote, p {
	padding: 0;
	margin: 0;
}

.u4 {
	background: #41444D;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	min-height: 430px;
	position: relative;
	background-repeat: inherit;
}

.u10 {
	background: #FFFFFF;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	width: 85%;
	margin: 0 auto;
	margin-top: 6%;
}

.redPackAgeMaskBg {
	width: 100%;
	height: 100%;
	background: #000000;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 998;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5
}

.redPackAgeRuleBg {
	width: 80%;
	height: 50%;
	background: #E86F60;
	position: absolute;
	left: 10%;
	top: 25%;
	z-index: 999;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

.redPackAgeRuleTitle {
	margin-left: 10px;
	float: left;
	font-family: '풕턼환쥌 Bold', '풕턼환쥌';
	font-weight: 700;
	font-size: 16px;
	text-align: left;
	color: #333333;
	line-height: 30px;
}

.redPackAgeRuleClose {
	float: right;
	font-family: '풕턼환쥌 Bold', '풕턼환쥌';
	font-weight: 700;
	font-size: 20px;
	color: #333333;
	margin-right: 5px;
	line-height: 30px;
}

.redPackAgeRuleLine {
	background: #666666;
	width: 100%;
	height: 5px;
}

.redPackAgeRuleContent {
	font-family: 'Arial Normal', 'Arial';
	width: 90%;
	margin: 10px auto;
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
}

.redPackAgeTitleClose {
	font-family: '풕턼환쥌 Bold', '풕턼환쥌';
	font-size: 36px;
	color: #FFFFFF;
	line-height: 36px;
	float: left;
	cursor: pointer;
}

.grabMoney {
	font-family: '풕턼환쥌 Bold', '풕턼환쥌';
	font-weight: 700;
	font-size: 48px;
	width: 210px;
	height: 70px;
	text-align: center;
	margin: 30px auto;
	background: #E86F60;
	color: #41444D;
	line-height: 70px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	margin-bottom: 20px;
}

.grabNoHave {
	font-family: '풕턼환쥌 Bold', '풕턼환쥌';
	font-weight: 700;
	font-size: 24px;
	color: #333333;
	text-align: center;
	margin: 30px auto;
}

.grabNoNaveContent {
	font-family: '풕턼환쥌 Regular', '풕턼환쥌';
	font-size: 18px;
	color: #333333;
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

.grabWelcome {
	font-size: 28px;
	color: #E86F60;
	text-align: center;
	font-family: "microsoft yahei", simhei;
	font-weight: 400;
	margin-bottom: 10px;
}

.grabContent {
	font-size: 14px;
	color: #333333;
	text-align: left;
	font-family: "microsoft yahei", simhei;
	font-weight: 400;
	line-height: 18px;
	margin-left: 10px;
	margin-right: 10px;
}

.grabContent span {
	color: #E86F60;
}

.grabPeople {
	font-family: "microsoft yahei", simhei;
	font-weight: 700;
	font-size: 18px;
	color: #333333;
	line-height: 40px;
	margin: 0 auto;
	text-align: center;
}

.gradPeoplePhone1 {
	height: 30px;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	background: #F55641;
	line-height: 30px;
}

.gradPeoplePhone2 {
	height: 30px;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	line-height: 30px;
}

.redPackAgeContentTitle {
	height: 12%;
	line-height: 40px;
	background: #F55641;
	font-family: '풕턼환쥌 Regular', '풕턼환쥌';
	font-weight: 400;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

.redPackAgeContentTitle span {
	display: block;
	padding-top: 3%;
}

.redPackAgeContentTitle span  a {
	font-family: '풕턼환쥌 Bold', '풕턼환쥌';
	font-weight: 700;
	color: #F9E152;
	cursor: pointer;
	text-decoration: none;
}

.redPackAgeContentImg {
	height: 43%;
	width: 80%;
	border: 4px solid #F55641;
	margin: 0 auto;
	margin-top: 5%;
}

.redPackAgeContentImg img {
	height: 100%;
	width: 100%;
}

.redPackAgeContentInfo {
	background: #F7DA65;
	margin-top: 80px;
	height: 26%;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	width: 100%;
}

.redPackAgeContentInfoBtn {
	display: block;
	background: #F55641;
	position: absolute;
	font-family: '풕턼환쥌 Bold', '풕턼환쥌';
	font-weight: 700;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	width: 50%;
	line-height: 35px;
	text-decoration: none;
}

.redPackAgeContentInfoFont {
	width: 90%;
	margin: 0 auto;
	padding-top: 5%;
	text-align: center;
	font-family: "microsoft yahei", simhei;
}

.redPackAgeContentImgDiv {
	height: 74px;
	background: #F7DA65;
	margin-top: -36px;
}

.redPackAgeContentImgLeft {
	width: 90px;
	float: left;
}

.redPackAgeContentImgRight {
	width: 90px;
	float: right;
}

.redPackAgeContentRule {
	background: #F55641;
	margin-top: -38px;
	font-family: '풕턼환쥌 Bold', '풕턼환쥌';
	color: #333333;
	font-weight: 700;
	font-size: 15px;
	height: 13%;
	line-height: 45px;
	text-align: center;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

.redPackAgeBottom {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #FFFFFF;
	text-align: center;
}

.redPackAgeBottom a {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: underline;
}

.redPackAgeBottom {
	color: #FFFFFF;
	text-align: center;
	margin: 10px;
}

.redPackAgeBottom a {
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: underline;
}

.redPackAgeContentfont {
	height: 43%;
	width: 90%;
	margin: 0 auto;
	margin-top: 5%;
}

.redPackAgeContentGongxi {
	font-family: "microsoft yahei", simhei;
	font-size: 36px;
	color: #F55641;
	font-weight: 400;
	text-align: center;
	margin-top: 10px;
}

.redPackAgeContentText {
	font-family: "microsoft yahei", simhei;
	font-size: 16px;
	color: #333333;
	font-weight: 400;
	margin-top: 5%;
}
.redPackAgeContentInfoFont_1{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-family: "microsoft yahei", simhei;
	height: 100px;
	padding-top: 40px;
	}
	.redPackAgeContentInfo_1{
	background: #F7DA65;
	margin-top: 30px;
	height: 23%;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	width: 100%;
	}
	.div12{
	width: 50%;
	height: 50px;
	margin: 0 auto;
	margin-top: 20px;
	}
@media ( max-width :780px) {
	html {
		height: 100%;
	}
	body {
		height: 100%;
	}
	.u4 {
		width: 100%;
		height: 100%;
	}
	.redPackAgeMaskBg {
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
	.redPackAgeRuleBg {
		width: 80%;
		height: 50%;
		left: 10%;
		top: 25%;
	}
}